// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}
/* BORDERS */
/** Border sizes **/

.border {
  border: 1px #e5e5e5 solid;
}

.border-medium {
  border: 3px solid;
}

.border-huge {
  border: 7px solid;
}
/** Border positions */

.border-bottom {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.border-disable-bottom {
  border-bottom: 0px !important;
}

.border-disable-top {
  border-top: 0px !important;
}

.border-left {
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
}

.border-right {
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
}

.border-top {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}



/** Border colors **/
.border-light {
  border-color: rgb(190,190,190);
}

.border-light-alpha {
  border-color: rgba(190,190,190,0.6);
}

.border-dark {
  border-color: rgb(0,0,0);
}

.border-dark-alpha {
  border-color: rgba(0,0,0,0.6);
}

.border-grey {
  border-color: #9E9E9E;
}

.border-grey-light{
  border-color: #E0E0E0;
}

.border-highlight {
  border-color: #6ec6ff;}

.border-primary {
  border-color: #00659B;}

.border-light-alpha {
  border-color: rgba(190,190,190,0.6);
}

.border-green {
  border-color: rgb(151,206,26);
}

.border-transparent{
  border-color: transparent !important;
}
/** Border radius **/
.border-radius {
  border-radius: 3px;
}

.border-circle {
  border-radius: 50%;
}

.border-radius-disabled {
  border-radius: 0 !important;
}

/** Border style **/
.border-dashed {
  border-style: dashed;
}

/* SHADOWS */
.shadow {
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.6);
}

.shadow-bottom{
  box-shadow:  0px 4px 1px -1px rgba(128, 128, 128, 0.6);
}

.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-no-wrap {
  flex-wrap: nowrap;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.justify-content-start {
  justify-content: start;
}
.justify-content-end {
  justify-content: end;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.align-items-start {
  align-items: start;
}
.align-items-end {
  align-items: end;
}
.align-items-center {
  align-items: center;
}
.align-content-start{
  align-content: start;
}
.align-content-end{
  align-content: end;
}
.align-content-center{
  align-content: center;
}
